@import "../../../../assets/styles/variables"

.main-inst
  display: flex
  flex-direction: column
  align-items: center
  padding: 0px !important

  h4
    margin: 13px 0 46px 0

    a
      color: $gray_color
      text-decoration: none

  .main-inst__pictures
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 0
    grid-row-gap: 0
    width: 100%

    div
      display: flex

      img
        width: 100%

@media(max-width: $tablet_width)
  .main-inst
    h4
      margin: 0px 0px 20px 0px

    .main-inst__pictures
      grid-template-columns: repeat(3, 1fr)

      div:nth-child(n+7)
        display: none

@media(max-width: $mobile_width)
  .main-inst
    text-align: center

    .main-inst__pictures
      grid-template-columns: repeat(2, 1fr)

      div:nth-child(n+5)
        display: none