@import "../../../../assets/styles/variables"

.main-delivery
  display: flex
  align-items: center
  flex-direction: column
  background: $white_dark_color
  padding-top: 72px !important
  padding-bottom: 80px !important
  column-gap: 32px

  .main-delivery__wrapper
    display: flex
    flex-direction: row
    column-gap: 32px

  .main-delivery__container
    display: flex
    align-items: center
    justify-content: space-between
    background: $white_color
    margin-top: 26px
    column-gap: 25px
    padding: 36px 24px
    max-width: 416px
    border-radius: 5px

    .main-delivery__container__services
      display: flex
      flex-direction: column
      row-gap: 6px

      .main-delivery__container__text
        font-size: 12px
        line-height: 18px
        font-family: 'Roboto', serif
        font-weight: 400


@media (max-width: $tablet_width)
  .main-delivery
    padding-top: 40px !important
    padding-bottom: 60px !important

    .main-delivery__container
      flex-direction: column
      row-gap: 12px
      align-items: flex-start
      padding: 25px 20px 40px 20px
      margin-top: 20px

@media (max-width: $mobile_width)
  .main-delivery
    padding: 24px 0px 40px 0px !important

    .main-delivery__wrapper
      flex-direction: column

      .main-delivery__container
        flex-direction: row
        padding: 12px 16px 20px 15px
        column-gap: 15px
        max-width: 288px
        margin-top: 12px

        .main-delivery__container__services
          row-gap: 4px