@import "src/assets/styles/variables"
@import "slick-carousel/slick/slick.css"
@import "slick-carousel/slick/slick-theme.css"

.slick-slider
  max-width: 320px
  padding: 0 16px
  display: flex
  flex-direction: column
  margin: 0 auto

  img
    display: flex
    align-items: center
    justify-content: center
    max-width: 288px
    max-height: 171px

  .slick-dots
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    max-width: 288px

    li
      button
        &:before
          color: $red_color
          width: 12px
          height: 12px

  .slick-arrow
    display: none

  .slick-track
    .slick-slide
      height: 171px