@import "src/assets/styles/variables.sass"

.carts-container
  display: flex
  flex-direction: column
  padding: 8px 0 16px 0

  .carts-container__list
    display: flex
    flex-direction: column
    list-style: none
    max-height: 235px
    overflow-y: auto

    li
      display: flex
      align-items: center
      justify-content: space-between
      position: relative
      border-top: 1px solid #DCDFE2
      padding: 8px 0

      &:last-child
        border-bottom: 1px solid #DCDFE2

      .carts-container__info
        display: flex
        align-items: center
        width: 40%

        .carts-container__card__image
          position: absolute
          top: 3px

          img
            width: 12px
            height: 12px


        .carts-container__info__image
          width: 100px
          height: 100px

        .carts-container__info__title
          display: flex
          flex-direction: column

          .description
            color: $black_color

      .carts-container__target
        display: flex
        justify-content: center
        width: 30%

        .carts-container__target__delete
          background: $white_color
          border: none
          cursor: pointer

          .icon
            background: #C5CBD5
            padding: 11px 6px
            border-radius: 12px
            opacity: 0.5

            &:hover
              background: $red_color

        .carts-container__target__add
          background: $white_color
          border: none
          cursor: pointer

          .icon
            background: #C5CBD5
            padding: 6px
            border-radius: 12px

            &:hover
              background: $red_color

        .carts-container__count
          display: flex
          align-items: center
          justify-content: center
          border: 1px solid #C4C7CA
          border-radius: 4px
          padding: 11px 18px
          font-size: 16px
          font-family: 'Roboto', serif
          line-height: 18px
          margin: 0 8px
          width: 60px

.carts-container__item__summary
  display: flex
  align-items: center
  justify-content: center
  font-family: 'Alegreya', serif
  font-weight: 800
  font-size: 24px
  line-height: 33px
  width: 30%

.carts-container__item__delete
  display: flex
  position: absolute
  top: 10px
  right: 10px

.carts-container__summary
  display: flex
  justify-content: flex-end
  margin-right: 32px

  .carts-container__summary__payment
    font-weight: 800
    font-size: 32px
    line-height: 44px
    margin-left: 20px

@media(max-width: $mobile_width)
  .carts-container
    max-height: 305px

    .carts-container__list
      li
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)

        .carts-container__info
          grid-area: 1 / 1 / 3 / 2
          display: flex
          flex-direction: column
          width: 80%

          .carts-container__card__image
            left: 5px

        .carts-container__info__title
          grid-area: 1 / 2 / 2 / 3
          align-items: center

        .carts-container__target
          grid-area: 2 / 2 / 3 / 3
          width: 100%

        .carts-container__item__summary
          width: 100%
