@import "../../../../assets/styles/variables"

.main-stocks
  display: flex
  justify-content: space-between
  width: 100%

  .main-stocks__container
    display: flex
    flex-direction: column
    row-gap: 13px
    width: 32%

    img
      width: 100%

@media(max-width: $tablet_width)
  .main-stocks
    .main-stocks__container
      row-gap: 10px