@import 'src/assets/styles/variables'

.main-menu__nav
  display: flex
  list-style: none
  column-gap: 40px
  cursor: pointer
  text-transform: uppercase

  li
    display: flex
    align-items: center
    flex-direction: column
    position: relative
    font-size: 18px
    line-height: 24px

    img
      position: absolute
      transition: .4s
      display: flex
      top: -15px
      opacity: 0

    &:hover
      color: $red_color

      img
        opacity: 1
        top: -28px

@media(max-width: $mobile_width)
  .main-menu__nav
    align-items: center
    column-gap: 28px

    .main-menu__nav__list
      display: none

    li
      img
        opacity: 1
        position: initial
        transition: all .5s ease-in-out
        fill: #C5CBD1

        &:hover
          color: $red_color
          fill: $red_color