@import "src/assets/styles/variables"

.footer-container
  display: flex
  align-items: center
  justify-content: space-between
  column-gap: 100px

  .footer-container__phone
    display: flex
    flex-direction: column
    row-gap: 6px

    h4
      a
        text-decoration: none
        color: $white_color


  .footer-container__phone__description
    font-family: 'Roboto', serif
    font-weight: 400
    font-size: 12px
    line-height: 18px

.footer-policy
  a
    color: $white_color
    text-decoration: none
    font-weight: 400
    font-family: 'Roboto', serif
    font-size: 12px
    line-height: 18px

@media(max-width: $mobile_width)
  .footer-container
    flex-direction: column
    row-gap: 25px

    .footer-container__logo
      img
        max-width: 79px

    .footer-container__phone
      align-items: center

      h4
        font-size: 24px
        font-weight: 900
        line-height: 32px

  .footer-policy
    margin-top: 10px