@import "../../../../assets/styles/variables"

.main-content
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  max-width: 100vw
  padding-right: 0 !important

  .main-content__title
    display: flex
    flex-direction: column
    row-gap: 12px

    h1
      white-space: nowrap

    .accent
      max-width: 441px

    .main-content__button
      display: flex
      padding: 18px 70px
      width: fit-content
      text-transform: uppercase
      color: $white_color
      border-radius: 5px
      border: none
      background: $red_color
      cursor: pointer
      margin-top: 20px

      &:hover
        background: $red_light_color

      &:active
        background: $red_dark_color

  .main-content__image
    display: flex

    img
      width: 100%


@media(max-width: $tablet_width)
  .main-content
    padding: 0 0 0 calc((100vw - #{$tablet-content-max-width}) / 2)

@media(max-width: $mobile_width)
  .main-content
    flex-direction: column-reverse
    padding: 0 0 0 calc((100vw - #{$tablet-content-max-width}) / 2)

    .main-content__image
      padding-right: 0

    .main-content__title
      align-items: center
      padding: 0px 16px

      p
        text-align: center

      a
        .main-content__button
          margin-top: 4px
          letter-spacing: 1px
