@import "src/assets/styles/variables"

.menu-card
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  box-shadow: 0 2px 5px rgba(165, 169, 176, 0.3)
  border-radius: 5px
  max-height: 572px
  max-width: 304px
  padding: 20px 20px 40px 20px
  position: relative
  transition: .4s

  &:hover
    box-shadow: 0 2px 5px 5px rgba(165, 169, 176, 0.3)

    .menu-card__type__images
      opacity: 1

    .menu-card__title
      color: $red_color

  .menu-card__type__images
    display: flex
    flex-direction: column
    row-gap: 10px
    position: absolute
    top: 12px
    left: 12px
    transition: .4s
    opacity: 0

    img
      display: flex

  .menu-card__image
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    background: url('../../../../../../../../assets/images/png/main-menu-pizza-background.png')
    background-size: 212px 212px
    width: 212px
    height: 212px

    img
      transition: .4s

      &.small
        width: 155px
        margin-top: 8px
        margin-right: -2px

      &.medium
        width: 184px
        margin-top: 10px
        margin-right: -3px

      &.large
        width: 212px
        margin-top: 12px
        margin-right: -9px

  .menu-card__content__wrapper
    display: flex
    align-items: center
    flex-direction: column
    row-gap: 4px

    .menu-card__title
      transition: .4s
      text-align: center

    .description-size
      font-family: 'Roboto', serif
      font-weight: 400
      font-size: 12px
      line-height: 18px

    .description
      text-align: center
      margin-top: 2px
      margin-bottom: 4px

    .menu-card__price
      font-family: 'Roboto', serif
      font-style: normal
      font-weight: 700
      font-size: 24px
      line-height: 30px
      margin-top: 8px
      margin-bottom: 12px

    .menu-card__size__buttons
      display: flex
      justify-content: space-between
      width: 182px
      height: 32px
      border-radius: 4px
      background: $gray_light_color

      .menu-card__size__label
        display: flex
        width: 32%
        align-items: center
        justify-content: center
        cursor: pointer
        margin: 2px
        border-radius: 2px
        font-family: 'Roboto', serif
        font-weight: 700
        font-size: 12px
        line-height: 18px
        transition-duration: 0.7s

        .menu-card__size__button
          display: none

        &.active
          background: $white_color

    .menu-card__button
      display: flex
      padding: 14px 70px
      position: relative
      color: $white_color
      background: $red_color
      border-radius: 5px
      cursor: pointer
      border: none
      outline: none
      text-transform: uppercase
      letter-spacing: 1px
      width: 216px

      .menu-cart__button__text
        z-index: 2

      &::before
        content: ''
        display: block
        position: absolute
        background: $red_light_color
        border-radius: 5px
        width: 100%
        height: 100%
        left: 0
        top: 0
        transform: scale(1, 0)
        transition: .4s
        z-index: 1

      &:hover
        &::before
          transform: scale(1, 1)

      .menu-card__button__price
        display: none

@media(max-width: $tablet_width)

  .menu-card
    max-width: 236px
    max-height: 518px
    padding: 8px 8px 40px 8px

    .menu-card__button
      width: 196px
      padding: 9px 54px

      .menu-card__button_price
        display: none

@media(max-width: $mobile_width)

    .menu-card
      display: flex
      flex-direction: row
      column-gap: 4px
      max-width: 288px
      max-height: 240px
      padding: 4px 8px 24px 4px

      .menu-card__image__wrapper
        height: 100%
        justify-content: flex-start

        .menu-card__type__images
          display: flex
          flex-direction: column
          position: absolute
          row-gap: 5px
          top: 10px
          left: 8px
          width: 12px
          height: 12px
          transition: .4s

          img
            display: flex

        .menu-card__image
          background: url('../../../../../../../../assets/images/png/main-menu-pizza-background.png')
          background-size: 100px 100px
          width: 100px
          height: 100px
          margin-left: 8px

          img
            transition: .4s

            &.small
              width: 69px
              margin-top: 3px
              margin-right: -1px

            &.medium
              width: 84px
              margin-top: 3px
              margin-right: -2px

            &.large
              width: 98px
              margin-top: 4px
              margin-right: -2px


      .menu-card__content__wrapper
        align-items: flex-start
        padding: 20px 4px 24px 0px

        .menu-card__title
          text-align: left

        .description-size
          margin-bottom: 4px
          margin-top: 4px

        .description
          text-align: left
          margin-top: 0px
          margin-bottom: 0px

        .menu-card__size__buttons
          width: 164px
          height: 32px
          margin-bottom: 12px

        .menu-card__price
          display: none

        .menu-card__button
          width: 120px
          height: 28px

          .menu-cart__button__text
            display: none

          .menu-card__button__price
            display: flex
            position: absolute
            text-transform: lowercase
            top: 5px
            left: 23px
            font-size: 16px
            line-height: 20px
            font-weight: 500
            font-family: 'Roboto', serif
            z-index: 2