@import "src/assets/styles/variables"

.header-scroll
  height: 60px
  box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3)
  position: sticky

  img
    max-width: 68px

@media(max-width: $mobile_width)
  .header-scroll
    height: 64px

    img
      max-width: 85px