@import "../../../../assets/styles/variables"

.main-benefits
  display: flex
  align-items: center
  flex-direction: column
  padding: 0 calc((100vw - 864px)/2)
  row-gap: 40px

  .main-benefits__container
    display: flex
    align-items: center
    column-gap: 32px

    img
      border-radius: 130px

    .main-benefits__container__info
      display: flex
      flex-direction: column
      max-width: 416px
      row-gap: 12px

@media(max-width: $tablet_width)
  .main-benefits
    row-gap: 12px
    .main-benefits__container
      column-gap: 37px

@media(max-width: $mobile_width)
  .main-benefits
    row-gap: 20px
    padding: 0px 16px !important

    .main-benefits__container
      column-gap: 16px
      align-items: flex-start

      img
        width: 80px
        height: 80px

    .main-benefits__container:nth-child(2n)
      flex-direction: row-reverse

      .main-benefits__container__info
        row-gap: 4px
