@import 'src/assets/styles/variables'

.main-menu__cards
    display: grid
    grid-template-columns: repeat(4,1fr)
    flex-wrap: wrap
    grid-column-gap: 32px
    -webkit-column-gap: 32px
    column-gap: 32px
    grid-row-gap: 32px
    row-gap: 32px
    justify-content: center

@media(max-width: $tablet_width)
    .main-menu__cards
        grid-template-columns: repeat(3,1fr)

@media(max-width: $mobile_width)
    .main-menu__cards
        grid-template-columns: 1fr
        row-gap: 12px

