@import "src/assets/styles/variables"

.header-mobile__nav
  .header-mobile__nav__menu
    position: fixed
    top: 0
    right: 0
    height: 100vh
    width: 320px
    background: #313945
    transform: scaleX(0)
    transition: 0.5s ease-in-out
    transform-origin: right
    display: flex
    flex-direction: column
    justify-content: space-between

    &.active
     transform: scaleX(1)

  .header-mobile__nav__button
    border: none
    background: $white_color
    cursor: pointer
    display: none

@media(max-width: $tablet_width)
  .header-mobile__nav
    .header-mobile__nav__button
      display: flex
  .header-mobile__nav__menu
    width: 320px

  .header-mobile__container
    .header-mobile__nav__title
      display: flex
      justify-content: flex-end
      cursor: pointer
      padding: 44px 36px 0px 0px

      .header-mobile__nav__logo
        display: none

    .header-mobile__nav__list
      display: flex
      flex-direction: column
      text-transform: uppercase
      list-style: none
      align-items: center
      justify-content: center
      text-align: center
      padding: 36px 60px
      color: $white_color
      font-weight: 700
      font-size: 18px
      line-height: 24px

      .header-mobile__nav__link
        align-items: center
        justify-content: center
        border-bottom: 1px solid #1D2228
        padding: 24px
        width: 200px
        cursor: pointer

        &:nth-child(3n)
          border: none

        &:hover
          color: $gray_color

  .header-mobile__nav__contacts
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 0px 60px 40px 60px

    .header-mobile__nav__contacts__text
      font-weight: 700
      font-family: 'Roboto', serif
      font-size: 12px
      line-height: 18px
      color: #A8B0BC

    h3
      color: $white_color

    .header-mobile__nav__lang
      display: none

@media(max-width: $mobile_width)
  .header-mobile__nav
    .header-mobile__nav__button
      display: flex
  .header-mobile__nav__menu
    &.active
      width: 100%

    .header-mobile__nav__contacts
      .header-mobile__nav__lang
        display: flex
        margin-top: 40px
        color: $white_color
        font-size: 12px
        text-transform: uppercase
        line-height: 16px
        font-weight: 700
        justify-content: center

    .header-mobile__nav__title
      justify-content: space-between
      padding-left: 16px

      .header-mobile__nav__logo
        display: flex
