@import "src/assets/styles/variables.sass"

.modal_wrapper
  position: fixed
  overflow: auto
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: rgb(0 0 0 / 85%)

  .modal_window
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: column
    width: 100%
    max-width: 700px
    height: fit-content
    padding: 32px 32px 40px 32px
    border-radius: 5px
    background: $white_color
    box-shadow: 0 2px 5px rgba(165, 169, 176, 0.3)


    .modal_title
      display: flex
      flex-direction: row
      justify-content: space-between

      .btn_close
        border: none
        background-color: $white_color
        cursor: pointer



.modal_window
  max-width: 300px


/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ТЕЛЕФОНА */
@media(max-width: $mobile_width)
  .modal_wrapper
    .modal_window
      padding: 30px 15px
      max-width: 500px


