@import "src/assets/styles/variables"

.header-container
  display: flex
  column-gap: 32px
  align-items: center

  .header-phone
    display: flex
    column-gap: 12px

    .header-phone__contacts__tel
      font-size: 24px
      line-height: 32.66px

      a
        text-decoration: none
        color: $black_color


  .header-order
    display: flex
    column-gap: 12px
    cursor: pointer
    position: relative

    .header-order__counter
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: -6px
      left: 27px
      border-radius: 10px
      color: $white_color
      background: $red_color
      width: 20px
      height: 20px
      font-family: 'Roboto', serif
      font-size: 11px
      line-height: 18px
      font-weight: 500

    .header-order__info
      .header-order__title
        font-size: 18px
        line-height: 24.5px
        text-transform: uppercase

  .header-lang
    border-radius: 24px
    padding: 12px 11px
    cursor: pointer
    font-size: 18px
    line-height: 24.5px
    border: none
    background: $gray_light_color


@media (max-width: $tablet_width)

  .header-container
    .header-phone
      .header-phone__contacts
        display: none

        &.open
          display: flex

    .header-order
      .header-order__info
        display: none

        &.open
          display: flex

    .header-lang
      margin-left: 38px


@media (max-width: $mobile_width)

  .header-container
    column-gap: 16px

    .header-lang
      display: none