@import "../../../../assets/styles/variables"

.main-menu
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 40px

@media(max-width: $mobile_width)

  .main-menu
    padding: 0px 6px !important
    row-gap: 20px