@import 'src/assets/styles/variables'

.form
  display: flex
  flex-direction: column
  font-family: 'Alegreya', serif
  font-weight: 800
  font-size: 18px
  line-height: 24px
  font-style: normal
  row-gap: 12px

  .form-contacts
    display: grid
    margin-bottom: 20px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 32px
    grid-row-gap: 24px

    .form-contacts__name
      grid-area: 1 / 1 / 2 / 2
    .form-contacts__phone
      grid-area: 1 / 2 / 2 / 3
    .form-contacts__address
      grid-area: 2 / 1 / 3 / 3

    .form-input
      display: flex
      padding: 13px 12px
      width: 100%
      height: 44px
      font-family: 'Roboto', serif
      font-weight: 400
      font-size: 16px
      color: #A6A6A6
      background: #FFFFFF
      border: 1px solid #C4C7CA
      border-radius: 4px

      &:hover
        border: 1px solid $black_color

      &:focus
        border: 2px solid #8FC9FF
        outline: none
        color: $black_color

      &:active
        border: 1px solid #3F8FE5

      &:target
        color: $black_color

      &:-webkit-autofill
        box-shadow: 0 0 0 30px #EEF0F3 inset !important
        border: none

    .form-input__errors
      color: #FB7A7A
      font-size: 13px
      font-weight: 400
      line-height: 18px
      font-family: 'Roboto', serif


  .form-payment
    display: flex
    flex-direction: column
    row-gap: 18px
    margin-top: 2px
    margin-bottom: 20px

    .form-input__container
      display: flex
      align-items: center
      column-gap: 8px

      .form-input__container__text
        font-family: 'Roboto', serif
        font-size: 16px
        line-height: 18px
        font-style: normal
        font-weight: 400

  .form-button
    display: flex
    align-items: center
    justify-content: center
    border-radius: 5px
    background: $red_color
    color: $white_color
    letter-spacing: 1px
    font-size: 18px
    line-height: 24px
    text-transform: uppercase
    border: none
    max-width: 240px
    padding: 14px 33px
    cursor: pointer

    &:hover
      background: $red_light_color

    &:active
      background: $red_dark_color

@media(max-width: $mobile_width)
  .form
    .form-contacts
      display: flex
      flex-direction: column
      row-gap: 10px

