@import "src/assets/styles/variables"

.header-nav
  display: flex
  justify-content: space-between
  column-gap: 60px
  list-style: none
  font-size: 18px
  line-height: 24.5px
  text-transform: uppercase

  li
    &:hover
      color: $red_color
      cursor: pointer

@media (max-width: $tablet_width)

  .header-nav
    display: none

    &.open
      display: flex