@import "variables"

/*ГЛОБAЛЬНЫЕ СТИЛИ*/
*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  scroll-behavior: smooth


h1, h2, h3, h4, p, ul, li, a, button
  margin: 0
  padding: 0
  font-weight: 900
  font-family: 'Alegreya', serif


h1
  font-size: 72px
  line-height: 90px

h2
  font-size: 52px
  line-height: 65px

h3
  font-size: 32px
  line-height: 40px
  font-weight: 800

h4
  font-size: 24px
  line-height: 30px
  font-weight: 800

p
  font-family: 'Roboto', serif
  font-weight: 400
  font-size: 14px
  line-height: 21px

.accent
  font-family: 'Roboto', serif
  font-weight: 400
  font-size: 24px
  line-height: 36px
  color: $black_color

.description
  font-family: 'Roboto', serif
  font-weight: 400
  font-size: 12px
  line-height: 18px
  color: $gray_color



/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ПЛАНШЕТА */
@media(max-width: $tablet_width)
  h1
    font-size: 52px
    line-height: 65px

  h2
    font-size: 40px
    line-height: 60px

  h3
    font-size: 24px
    line-height: 30px
    font-weight: 800

  h4
    font-size: 20px
    line-height: 27px
    font-weight: 800

  p
    font-family: 'Roboto', serif
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 21px

  .accent
    font-family: 'Roboto', serif
    font-weight: 400
    font-size: 18px
    line-height: 27px
    color: $black_color

  .description
    font-family: 'Roboto', serif
    font-weight: 400
    font-size: 12px
    line-height: 18px
    color: $gray_color


/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ТЕЛЕФОНА */
@media(max-width: $mobile_width)
  h1
    font-size: 40px
    line-height: 50px

  h2
    font-size: 28px
    line-height: 35px

  h3
    font-size: 20px
    line-height: 25px
    font-weight: 800

  h4
    font-size: 18px
    line-height: 24px
    font-weight: 800

  p
    font-family: 'Roboto', serif
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 18px

  .accent
    font-family: 'Roboto', serif
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $black_color

  .description
    font-family: 'Roboto', serif
    font-weight: 400
    font-size: 11px
    line-height: 17px
    color: $gray_color
