@import "variables.sass"
@import 'global'
@import "~@fontsource/alegreya/900.css"
@import "~@fontsource/alegreya/800.css"
@import "~@fontsource/alegreya/400.css"
@import "~@fontsource/roboto/900.css"
@import "~@fontsource/roboto/700.css"
@import "~@fontsource/roboto/500.css"
@import "~@fontsource/roboto/400.css"


/*ТЕЛО САЙТА*/
body
  overflow: auto
  font-family: 'Alegreya', serif
  font-weight: 900

/*Стили сайта*/
#root
  display: grid
  grid-template-areas: "header" "main" "footer"
  grid-template-rows: 176px auto 120px
  min-height: 100vh
  max-width: 100vw

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto
  width: 100%
  padding: 10px calc((100vw - #{$pc-content-max-width})/2)
  top: 0
  background: $white_color
  z-index: 20

.main
  display: flex
  flex-direction: column
  row-gap: 100px
  flex-wrap: wrap

.footer
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto
  width: 100%
  padding: 0 calc((100vw - #{$pc-content-max-width})/2)
  background: $black_color
  color: $white_color


/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ПЛАНШЕТА */
@media(max-width: $tablet_width)

  #root
    grid-template-rows: 133px auto 100px

    .header
      padding: 10px calc((100vw - #{$tablet-content-max-width})/2)

    .main
      row-gap: 80px

      section
        padding: 0 calc((100vw - #{$tablet-content-max-width})/2)

    .footer
      padding: 0 calc((100vw - #{$tablet-content-max-width})/2)

/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА ТЕЛЕФОНА */
@media(max-width: $mobile_width)

  #root
    grid-template-rows: 64px auto 210px

    .header
      padding: 0px calc((100vw - #{$mobile-content-max-width})/2)

    .main
      row-gap: 60px

    .header
      padding: 12px 16px 0px 16px

    .footer
      flex-direction: column
      padding: 25px 56px 40px 56px
